<h1 class="heading">EMPLOYEE MANAGMENT </h1>

<div class="promangsubcont">
<%= form_with model: @employee do |f| %>
    <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    </div>
 
    <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    </div>

    <div class="field">
    <%= f.label :employee_unique_id %><br />
    <%= f.text_field :employee_unique_id %>
    </div>
 
    <div class="field">
    <%= f.label :role_id %><br />
    <%= f.select :role_id, [['Admin', 1],['Employee', 2]] %>
    </div>

    <div class="field">
    <%= f.label :email%><br />
    <%= f.text_field :email %>
    </div>

    <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    
  </div>
    
    <div class="actions ">
        <%= f.submit "Save",class:"loginbutton" %>
    </div>
    
    </div>
  <% end %>
  