
<%= form_with  model: @leave do |f| %>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
 
    <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true, autocomplete: "description" %>
    </div>

    <div class="field">
    <%= f.label :no_of_days %><br />
    <%= f.text_field :no_of_days, autofocus: true, autocomplete: "no_of_days" %>
    </div>

    <div class="actions ">
        <%= f.submit "Add",class:"loginbutton" %>
    </div>


  <% end %>


